*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #FFFAF5;
}
/* ---comon-- */
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Sora", sans-serif;
}
input, textarea, select, button{
    font-size: inherit;
    font-family: inherit;
}
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    /* can giua  */
}
.btn{
    --height: 56px;

    display: inline-block;
    min-width: 130px;
    height: var(--height);
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 99px;
    color: #000958;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: var(--height); /* 100% */
}
.btn:hover{
    opacity: 0.7;
}
.heading{
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}
.desc{
    color: #656689;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}
/* ------common------- */

.header{
    /* background: chartreuse; */
    padding: 26px 0;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list{
    display: flex;
}
.navbar__link {
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    padding: 8px 16px;
    transition: 0.25s;
}
.navbar__link:hover{
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
    /* --- hover khong lam chu bi lech----  */
}
.header-action__link{
    color: #5E6085;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    padding: 5px;
    margin-right: 20px;
}
.header-action__link:hover{
    text-shadow: 1px 0 0 currentColor;
}
.hero{
    margin-top: 20px;
    padding-top: 54px;
}
.hero__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__img-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 16px;
    background: #FE997B;
    width: 388px;
    height: 488px;
    border: 3px solid #ffffff;
}
.hero__img{
    border-radius: inherit;
    /* ke thua boder cha  */
    max-width: 100%;
    max-height: 100%;
}
.hero__decor{
    position: absolute;
    z-index: -1;
}
.hero__decor--left{
    left: -58px;
    bottom: 10px;
}
.hero__decor--top{
    top: 17px;
    right: -43px;
}
.hero__media{
    position: relative;
    display: flex;
    padding-bottom: 94px;
}
.hero__img-wrap--small{
    align-self: flex-end;
    background: #FAA7AD;
    width: 186px;
    height: 224px;
    margin-bottom: -56px;
    margin-left: -30px;
    border: 2px solid #f9a7e4;
}
.hero__img--small{
    max-width: 100%;
    max-height: 100%;
}
.hero__list{
    position: absolute;
    left: 130px;
    bottom: 0;
    width: 255px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero__list--item{
    display: flex;
    align-items: center;

}
.hero__list--item__thumb{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #FEC23F;
}
.hero__list--item__info{
    margin-left: 10px;
}
.hero__list-item__title{
    color: #181E52;
    font-family: Sora , sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.hero__list--item__skeleton{
    margin-top: 7px;
    width: 118px;
    height: 4px;
    background: #f3f3f8;
    border-radius: 10px;
}

.dieulinh{
    width: 39px;
}
.line{
    width: 100%;
    height: 2px;
    background: #dcdde3;
    border-radius: 10px;
    margin: 20px 0;
}
.hero__list--item:nth-child(3) .hero__list--item__thumb{
    background-color: turquoise;
}

.hero__content{
    margin-left: 120px;
}
.content__desc{
    margin-top: 24px;
}
.content__list{
    margin-top: 28px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.content__list--row{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content__list--title{
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration-line: underline;
}
.content__list--title:hover{
    opacity: 0.6;
}
.content__list--row__btn{
    line-height: 60px;
    width: 189px;
    height: 60px;
    background: #FF5B2E;
    color: #fff;
    border: none;
    padding-right: 26px;
}
.content__list--row__img{
    position: absolute;
    right: 0;
    top: 14px;
}
/* ---about--- */
.about{
    margin-top: 50px;
    padding-top: 70px;
}
/* .about__content */
.about__content{
    margin-right: 108px;

}
.about__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.about__media{
    position: relative;
}
.about__content--sub{
    color: #5E6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.about__content--heading{
    margin-top: 15px;
    font-size: 5.2rem;
    font-weight: 700;
}
.about__content--desc{
    margin-top: 24px;
}
.about__check--list{
    margin-top: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about__check--item{
    position: relative;
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-top: 40px;
    color: #48496A;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}
.about__check--item::before{
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: violet;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}
.about__check--item::after{
    position: absolute;
    content: url(../images/icons/Vector.svg);
    top: 1px;
    left: 5px;
}
.about__card{
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    height: 156px;
    background: #5BD6E2;
    border-radius: 10px;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
    padding: 30px 26px;
}
.about__card--title{
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700; 
    line-height: 1; /* 100% */
}
.about__card--desc{
    color: #f3f3f8;
}
.about__card--decor{
    position: absolute;
    top: -35px;
    right: -40px;
}
.about__img--wrap{
    position: relative;
    width: 494px;
    margin-left: auto;
}
.about__img{
    width: 450px;
    display: block;
    margin: 0 auto;

}
.about__img--wrap::after{
    position: absolute;
    content: "";
    z-index: -1;
    height: 336px;
    inset: auto 0 0 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);

}
.about__media--decor{
    position: absolute;
    top: 157px;
    right: -40px;
    z-index: -1;
}
.feature__content{
    margin-top: 50px;
    padding-top: 50px;
    margin-left: 20px;
}
.feature__desc{
    margin-top: 24px;
}
.feature__row{
    display: flex;
    margin-top: 52px;
    justify-content: space-between;
    align-items: center;
}
.feature__title{
    margin-top: 36px;
    width: 391px;
}
.feature__more{
    display: inline-block;
    margin-top: 32px;
    color: #FF5D31;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration: underline;
}
.feature__row--title{
    margin-left: 16px;
    color: #48496A;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.feature__row--img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.feature__line{
    position: relative;
    background: #FF5B2E;
    border-radius: 99px;
}
.feature__line::before{
    position: absolute;
    content: "";
    width: 95px;
    height: 2px;
    background-color: #5BD6E2;
    border-radius: 99px;
}

.text__media{
}
.text__inner{
    position: relative;
    margin-top: 130px;
}
.text__media--thumb{
    width: 458px;
    height: 500px;
    border-radius: 18px;
    object-fit: cover;
    align-items: flex-end;
}
.text__media--wrap::after{
    content:"";
    position: absolute;
    inset: auto  0 0 0;
    width: 458px;
    height: 500px;
    z-index: -1;
    background: #bde5e8;
    box-shadow: 0px 3px 63px 0px rgba(153, 183, 208, 0.59);
    border-radius: 18px;

}
.about__media--img{
    position: absolute;
}
.six{
    width: 123px;
    height: 119px;
    object-fit: cover;
    right: 77px;
    bottom: -40px;
}
.one{
    width: 23px;
    height: 25px;
    object-fit: cover;
    right: 84px;
    top: 50%;
}
.two{
    top: 70%;
    right: 170px;
}
.three{
    top: 20px;
    right: 100px;
}
.for{
    top: 10px;
    right: 190px;
}
.five{
    top: 2px;
    right: 151px;
}

/* services */
.services{
    margin: 70px 0;
    padding : 150px 0;
}
.service__header{
    text-align: center;
}
.service__header--heading{
    margin-top: 15px;
}
.service__body{
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 71px;
}

/* ------service--toww---- */
.service__column--two{
    position: relative;
    text-align: center;
    width: 447px;
    height: 621px;
    margin: 0 70px;
}
.service__column--img{
    width: 447px;
    height: 621px;
    object-fit: cover;
}
.service__column--btn{
    width: 214px;
    margin-top: 50px;
    border-radius: 31px;
    border: 1px solid #FF5B2E;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #FF5B2E;
}
.service__item{
    padding: 26px;
    width: 294px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid rgba(255, 188, 122, 0.26);
}
.service__heading{
    position: relative;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    padding-left: 10px;
    line-height: 1; /* 100% */
}
.service__heading::before{
    position: absolute;
    content: "";
    width: 2px;
    left: 0px;
    height: 22px;
    display: inline-block;
    border-radius: 1px;
    background: linear-gradient(#FE997B , #e6ae03);

}
.service__desc{
    margin-top: 18px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4;
    font-weight: 400;
    line-height: 1.7; /* 171.429% */
}
.service__row{
    display: flex;
    text-align: center;
    margin-top: 24px;
}
.service__item + .service__item{
    margin-top: 24px;  
}
.service__row--item {
    display: inline-flex;
    align-items: center;
    color: #34396A;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.service__row--item::after{
    content: url(../images/imgs/vector.svg);
    margin: 1px 0 0 5px;

}
.service__column--two::after{
    position: absolute;
    content: "";
    height: 347px;
    width: 425px;
    background-color: #5BD6E2;
    box-shadow: 0px 3px 63px 0px rgba(153, 183, 208, 0.59);
    border-radius: 18px;
    inset: auto  0 0 0;
    margin-left: auto;
    margin-right: auto;    
    z-index: -1;   
}

/* team__header */
.team__header{
    text-align: center;
}
.team__header--desc{
    color: #5E6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.team__header--heading{
    margin-top: 15px;
}
.teams__list{
    margin-top: 59px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.team__item--image{
    position: relative;
    display: flex;
    width: 234px;
    height: 299px;
    object-fit: cover;
    border-radius: 40%;
}
.team__item--image::after{
    position: absolute;
    content: "";
    width: 234px;
    height: 266px;
    border-radius: 129.5px;
    background: #FEC23F;
    top: 24px;
    left: 18px;
    z-index: -1;
}
.team__item{
    text-align: center;
}
.team__item--desc{
    color: #656689;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
    margin-top: 6px;
}
.team__item--name{
    margin-top: 14px;
    color: #000958;
    text-align: center;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.team__item--btn{
    width: 193px;
    border-radius: 31px;
    border: 1px solid #FF5B2E;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #FF5B2E;;
}
.team__item-btn{
    display: flex;
    justify-content: center;
    margin-top: 48px;   
}
/* best */
.best{
    background: #FFF6ED;
    padding: 86px 0;
}
.best__header{
    align-items: center;
    text-align: center;
}
.best__header__desc{
    display: inline-block;
    margin-top: 24px;
    width: 709px;
}
.best__list--item-btn{
    color: #FF5B2E;
    text-align: start;
    padding-left: 34px;
    display: inline-block;
    margin-top: 48px;
    width: 276px;
    border-radius: 31px;
    border: 1px solid #FF5B2E;
}
.best__list--item{
    position: relative;
}
.best__list--item-btn::after{
    position: absolute;
    content: "Yearly";
    width: 130px;
    height: 53px;
    border-radius: 31px;
    background: #FF5B2E;
    color: #f1f1f1;
    top: 49px;
    border: 1px solid #ff5b2e;
    margin-left: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.best__list--item__img{
    position: relative;
    display: inline-block;
    width: 86.614px;
    top: -90px;
    height: 36.801px;
    right: -190px;
}
.best__content--row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 44px;
    justify-content: space-between;
    
}
.best__row--list{
    width: 302px;
    background: #FFF;
    border-radius: 20px;
    padding: 30px 28px 43px 28px;
}
.one{
    color: #FF5B2E;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}
.best__row-title{
    color: #3F4065;
    margin-top: 8px;
font-family: Sora;
font-size: 1.8rem;
font-weight: 600;
line-height: 1; /* 100% */
}
.best__row--heading{
    color: #000958;
    margin-top: 24px;
font-family: Sora;
font-size: 3.3rem;
font-weight: 700;
line-height: 1.3; /* 103.03% */
}
.best__row--btn{
    min-width: 246px;
    border-radius: 39px;
    background: #FF5B2E;
    border: 1px solid rgba(255, 91, 46, 0.60);
    color: #FFF;
    margin: 22px auto  6px auto;
    transition: 0.25s;
}
.best__row--btn:hover{
    background: #f3f3f8;
    color: #FF5B2E;
    opacity: 0.7;
}
.item{
    position: relative;
    color: #656689;
    display: flex;
    font-family: Poppins;
 font-size: 1.4rem;
font-weight: 400;
line-height: 1; /* 100% */
margin-top: 18px;
margin-left: 24px;
}
.item::before{
    position: absolute;
    content: url(../images/imgs/Check.svg);
    top: 0px;
    left: -25px;
}
/* -----------reviews------- */
.reviews{
    padding-top: 32px;
}
.reviews__inner{
    display: flex;
}
.reviews__content--desc{
    width: 553px;
    margin-top: 24px;
    color: #000;
font-family: Poppins;
font-size: 1.8rem;
font-weight: 400;
line-height: 1.5; /* 155.556% */
}
.reviews__content--name{
    margin-top: 34px;
    color: #282828;
font-family: Sora;
font-size: 1.8rem;
display: inline-block;
font-weight: 600;
line-height: 1; /* 100% */
}
.reviews__content--name::before{
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
    display: inline-block;
    border-radius: 1px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.reviews__images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #FF5D31;
    transition: 0.25s;
}
.reviews__images:hover{
    background: tomato;
}
.reviews__media--img{
    width: 274px;
    height: 427px;
    object-fit: cover;
    border-radius: 137px;
}
.reviews__media{
    position: relative;
    margin-left: 28px;
    margin: 21px 48px 59px 16px;
}
.reviews__media::before{
    position: absolute;
    display: block;
    content: "";
    width: 274px;
    height: 350px;
    bottom: 3px;
    z-index: -1;
    background-color: yellowgreen;
    border-radius: 137px;
}
.reviews__content{
    margin-left: 67px;
    align-items: center;
    margin: auto auto auto 70px;
}
.reviews__row{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.review__row--line{
    width: 30px;
    height: 8px;
    border-radius: 4px;
    background-color: tomato;
}
.review__row--item{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid tomato;
    transition: 0.25s;
}
.review__row--item:hover{
    background: tomato;
}
.review__row--list{
    display: flex;
    gap: 8px;
}

/* ----blogs---- */
.blogs{
    margin-top: 10px;
    padding-top: 100px;
}
.blogs__header{
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    align-items: center;
}
.header__view--desc{
    max-width: 350px;
}
.header__view--btn{
    margin-top: 24px;
    color: #FF5B2E;
    min-width: 182px;
    border: 1px solid #FF5B2E;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.blogs__content{
    margin-top: 54px;
    padding-top: 100px;
}
.blogs__item--img{
    width: 322px;
    height: 296px;
    object-fit: cover;
}
.blog__item--image::before{
    position: absolute;
    content: "";
    width: 358px;
    height: 362px;
    border-radius: 24px;
    background: #90CCFF;
    z-index: -1;
    margin-left: -36px;
    margin-top: -66px;
}
.blog__item--image:last-child{
    background: violet;  
}
.blog__item--image::after{
    position: absolute;
    content: "28 june 2021";
    color: #FFF;
    top: -48px;
    margin-left: -324px;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.21; /* 121.429% */
}
.blogs__lists{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
}
.blogs__content--heading{
    margin-top: 28px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.54; /* 154.545% */
}
.blogs__content--desc {
    margin-top: 16px;
    width: 351px;
}
.blogs__item--content{
    margin-left: -26px;
}
/* --footer----- */

.footer{
    margin-top: 70px;
}
.footer__inner{

    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
}
.footer__lucky{
    background: #e591ba;
    padding: 52px 0  60px 135px;  
}
.footer__lucky--desc{
    margin-top: 84px;
    color: #000958;
font-family: Sora;
font-size: 1.8rem;
font-weight: 600;
line-height: 1.11; /* 111.111% */
}
.footer__icons{
    margin-top: 16px;
}
.footer__icons--img{

    border-radius: 50%;
    object-fit: cover;
}
.footer__content{
    background-color: #dcdde3;
}
.footer__list{
    margin: 52px 127px 60px  129px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 58px;
}
.footer__item--heading{
    color: #000958;
font-family: Sora;
font-size: 1.8rem;
font-weight: 600;
line-height: 1.11; /* 111.111% */
margin-bottom: 4px;
}
.footer__item--row a{
    display: inline-block;
    margin-top: 10px;
    color: #656689;
font-family: Poppins;
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 2; /* 200% */
}
.form-group{
    margin: 40px 0;
    position: relative;
}
.footer__copyright{
    margin-left: 22px;
    font-size: 1.3rem;
    display: flex;
    color: #835762;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 50px;
}
.form-input{
    color: #656689;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.16; /* 116.667% */
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    opacity: 0.6;
    padding: 16px 22px;
}
.form-group::after{
    position: absolute;
    content: url(../images/imgs/review_right.svg);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    bottom: 0px;
    right: 121px;
    background-color: tomato;
    border-radius: 50%;
    display: inline-flex;
}